section.about-section
  .wrapper
    .about-section__container
      img.about-section__ring-small(src="images/about-section-ring-small.png" loading="lazy" width="282" height="282" alt="image")
      img.about-section__ring-large(src="images/about-section-ring-large.png" loading="lazy" width="691" height="479" alt="image")
      img.about-section__star(src="images/about-section-star.png" loading="lazy" width="42" height="42" alt="image")
      .about-section__box
        h2.about-section__title.font-w-bold.font-s-60
          span.color-pink История создания 
          br
          | и развития компании
        .font-w-bold.font-s-60 "
        .about-section__text.font-w-regular.font-s-16
          | «Служба уборки и сервиса 
          span.color-pink «КАМАЛА» 
          | открылась в 2016 году. За 8 лет работы мы стали 
          br.no-br
          | партнерами крупных компаний с офисными, складскими и производственными площадями, 
          br.no-br
          | для которых мы оказываем услуги по комплексной и профессиональной уборке с 
          br.no-br
          | соблюдением всех  требований ГОСТ.
          br
          br
          | Благодаря качественной работе наших сотрудников, клиенты рекомендуют нас своим 
          br.no-br
          | партнерам, что позволяет расти и развиваться с каждым годом. 
          span.font-w-semi-bold Сегодня у нас уже 3 
          br.no-br
          span.font-w-semi-bold открытых офиса, а площадь ежедневно обслуживаемых помещений превышает 300 000 
          br.no-br
          span.font-w-semi-bold кв.м.
          br
          br
          | Партнеры нашей франшизы уже на старте получают готовую бизнес-модель и репутацию 
          br.no-br
          | надежной компании. Вся команда 
          span.color-pink  «КАМАЛА» 
          | будет работать над вашим успешным 
          br.no-br
          | запуском, передаст все регламенты и тонкости работы, поможет привлечь первых клиентов и 
          br.no-br
          | быстро окупить инвестиции».
        .font-w-semi-bold.font-s-22.text-up Людмила Мишина
        .font-w-regular.font-s-16 Основатель компании
      .about-section__bottom
        .about-section__bottom-text.font-w-semi-bold.font-s-34 С удовольствием ответим на ваши вопросы!
        form.about-section__form(data-feedback-form)
          textarea.input.input--secondary.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
          input.input.input--secondary.about-item(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input.input--secondary.about-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn.about-item(type="submit") Задать вопрос
        .about-section__privacy-text.font-w-light.font-s-12.color-dark-blue
          | Я принимаю условия 
          a(href="#" data-remodal-target="privacy").about-section__privacy Политики конфиденциальности
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="846" height="1160" alt="image")
      //-     br.no-br-md
      //-     | получения лицензии на ведение 
      //-     br.no-br-md
      //-     | образовательной деятельности. Начинали мы 
      //-     br.no-br-md
      //-     | с 2 небольших классов и 6 сотрудников, а 
      //-     br.no-br-md
      //-     | сегодня у нас успешно функционируют 3 
      //-     br.no-br-md
      //-     | собственных филиала, в которых обучаются 
      //-     br.no-br-md
      //-     | как дети, так и взрослые.
      //- .about-section__content.font-s-24
      //-   | Сейчас родители делают огромный упор на дополнительное образование. Мы развиваем детей 
      //-   br.no-br-md
      //-   | разносторонне, создаем прекрасные условия и уютную атмосферу, чтобы они могли чувствовать 
      //-   br.no-br-md
      //-   | себя комфортно. Обучение проходит по собственным авторским программам с индивидуальным 
      //-   br.no-br-md
      //-   | подходом к каждому ученику.
      //-   br
      //-   br
      //-   | Основу нашего учебного центра составляет сплоченный и профессионально подготовленный 
      //-   br.no-br-md
      //-   | коллектив, имеющий большой опыт работы в данной области, регулярно проходящий курсы 
      //-   br.no-br-md
      //-   | повышения квалификации, участвующий в образовательных конференциях и семинарах, 
      //-   br.no-br-md
      //-   | использующий уникальные учебные пособия и успешно сочетающий традиционные занятия 
      //-   br.no-br-md
      //-   | Российской школы и современные международные педагогические технологии.
      //-   br
      //-   br
      //-   | У нас созданы все условия для того, чтобы обучение было доступным, занимательным и 
      //-   br.no-br-md
      //-   | эффективным, мы дарим любовь, заботу и уверенность в завтрашнем дне!
