section.advantages-section
  .wrapper
    .advantages-section__container
      img.advantages-section__line-star(src="images/advantages-section-line-star.svg" loading="lazy" width="879" height="44" alt="image")
      h2.advantages-section__title.font-w-bold.font-s-60.text-center
        | Конкурентные 
        br.no-br
        span.color-pink преимущества франшизы
      .swiper-advantages
        .advantages-section__cards.swiper-wrapper
          .advantages-section__card.swiper-slide
            .advantages-section__card-num.font-w-bold.font-s-34 01
            .font-w-semi-bold.font-s-16 Комфортный размер <br class="no-br-md"> стартовых вложений
          .advantages-section__card.swiper-slide
            .advantages-section__card-num.font-w-bold.font-s-34 02
            .font-w-semi-bold.font-s-16 Нет необходимости в <br class="no-br-md"> инвестициях на оформление <br class="no-br-md"> офиса
          .advantages-section__card.swiper-slide
            .advantages-section__card-num.font-w-bold.font-s-34 03
            .font-w-semi-bold.font-s-16 Полный пакет документов: <br class="no-br-md"> от договоров до форм <br class="no-br-md"> заявлений
          .advantages-section__card.swiper-slide
            .advantages-section__card-num.font-w-bold.font-s-34 04
            .font-w-semi-bold.font-s-16 Простые и понятные <br class="no-br-md"> технологии, четко <br class="no-br-md"> прописанная схема всех <br class="no-br"> бизнес-процессов компании
          .advantages-section__card.advantages-section__card-5.swiper-slide
            .advantages-section__card-num.font-w-bold.font-s-34 05
            .font-w-semi-bold.font-s-16.advantages-section__card-5-text
              | Разноплановое обучение 
              br.no-br-xxl
              | франчайзи 
              span.color-pink.font-w-regular.font-s-14.advantages-section__card-5-text
                | (маркетинг, основы 
                br.no-br-xxl
                | SMM, технологии расчетов 
                br.no-br-xxl
                | стоимости услуг, технологии и 
                br.no-br-xxl
                | виды уборки, основы трудового 
                br.no-br-xxl
                | права, технологии контроля 
                br.no-br-xxl
                | работы персонала, налоги, работа 
                br.no-br-xxl
                | с банками и многое другое)
          .advantages-section__card.swiper-slide
            .advantages-section__card-num.font-w-bold.font-s-34 06
            .font-w-semi-bold.font-s-16 Список проверенных <br class="no-br-md"> поставщиков с наилучшими <br class="no-br-md"> ценами на рынке
          .advantages-section__card.swiper-slide
            .advantages-section__card-num.font-w-bold.font-s-34 07
            .font-w-semi-bold.font-s-16 Схема работы с сетевыми <br class="no-br-md"> компаниями на тендерах
          .advantages-section__card.swiper-slide
            .advantages-section__card-num.font-w-bold.font-s-34 08
            .font-w-semi-bold.font-s-16 Чуткое сопровождение <br class="no-br-md"> на всех этапах <br class="no-br-md"> сотрудничества
        .advantages-pagination.swiper-progress-advantages

