header.footer
  .wrapper
    .footer__container
      .footer__brand
        img.footer__logo(src="images/logo-footer.png" loading="lazy" width="146" height="146" alt="logo")
        .footer__brand-name.font-w-semi-bold.font-s-18 © КАМАЛА, 2024
      a.footer__privacy.font-w-light.font-s-16(href="#" data-remodal-target="privacy") Политика конфиденциальности
      .footer__connection
        include ../components/phone-number.pug
        //- a.btn.btn--call-me.header__call-me(data-remodal-target="modal-form-call-me") Заказать звонок
