header.header
  .header__container
    .header__title
      .font-w-semi-bold.font-s-18.text-up.color-dark-blue КАМАЛА
      .header__title-text.font-w-regular.font-s-15.mark-blue
        | Франшиза службы уборки и сервиса
    img.header__logo(src="images/logo-header.png" loading="lazy" width="323" height="322" alt="logo")
    .header-thanks__connection
      include ../components/phone-number.pug
      //- a.btn.btn--call-me.header__call-me(data-remodal-target="modal-form-call-me") Заказать звонок