section.invest-section
  .invest-section__box
    .wrapper
      .invest-section__container
        .invest-section__title.font-w-bold.font-s-60.text-center
          span.color-pink Какие инвестиции 
          | понадобятся
          br
          | для успешного старта
        .invest-section__block-desktop
          .invest-section__blocks-top
            .invest-section__block-1
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Стартовые инвестиции:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 от 550 000 ₽
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Паушальный взнос:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 350 000 ₽ – 590 000 ₽ 
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Аренда:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 15 000 ₽
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Маркетинг:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 40 000 ₽
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Роялти:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 15 000 ₽
            .invest-section__block-2
              .invest-section__block-2-inner
                .invest-section__block-2-inner-text
                  .font-w-bold.font-s-50 3 месяца
                  .font-w-regular.font-s-20 срок окупаемости
                img.invest-section__block-2-img(src="images/invest-section-img1.svg" loading="lazy" width="84" height="84" alt="icon")
              .invest-section__block-2-inner
                .invest-section__block-2-inner-text
                  .font-w-bold.font-s-50 1 075 000 ₽
                  .font-w-regular.font-s-20 средний оборот в месяц
                img.invest-section__block-2-img(src="images/invest-section-img2.svg" loading="lazy" width="84" height="84" alt="icon")
          .invest-section__blocks-bottom
            .invest-section__block-3
              .invest-section__block-3-wrapper
                .font-w-bold.font-s-32 Расчёт прибыли
                .invest-section__block-3-sub-title.font-w-semi-bold.font-s-22 Выручка:
                .invest-section__block-3-inner
                  .invest-section__block-3-inner-text.font-w-regular.font-s-16 Уборка для физических лиц 
                  .invest-section__block-3-inner-desc.font-w-bold.font-s-18 в среднем 110 заказов в месяц
                .invest-section__block-3-inner
                  .invest-section__block-3-inner-text.font-w-regular.font-s-16.collor-change Средний чек
                  .invest-section__block-3-inner-desc.font-w-bold.font-s-18.collor-change 10 000 ₽
                .invest-section__block-3-inner
                  .invest-section__block-3-inner-text.font-w-regular.font-s-16 Итого
                  .invest-section__block-3-inner-desc.font-w-bold.font-s-18 1 100 000 ₽
                .invest-section__block-3-bottom
                  .font-w-semi-bold.font-s-22 Общий итог:
                  .font-w-semi-bold.font-s-32 1 850 000 ₽
              .invest-section__block-3-footer
                .invest-section__block-3-footer-left
                  .font-w-semi-bold.font-s-22 Чистая прибыль <br> в месяц:
                .invest-section__block-3-footer-right
                  .font-w-regular.font-s-32 1 850 000 ₽ – 1 021 000 ₽
                  .font-w-bold.font-s-50 = 829 000 ₽
            .invest-section__block-4
              .invest-section__block-4-title.font-w-bold.font-s-32 Расходы:
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16 Аренда
                .invest-section__block-4-inner-price.font-w-bold.font-s-18 20 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16.collor-change ФОТ менеджера 10%
                .invest-section__block-4-inner-price.font-w-bold.font-s-18.collor-change 185 500 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16 ФОТ клинеров для физлиц
                .invest-section__block-4-inner-price.font-w-bold.font-s-18 6 * 40 000 = 240 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16.collor-change ФОТ клинеров для юрлиц
                .invest-section__block-4-inner-price.font-w-bold.font-s-18.collor-change 10 * 30 000 = 300 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16 Маркетинг
                .invest-section__block-4-inner-price.font-w-bold.font-s-18 100 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16.collor-change Роялти
                .invest-section__block-4-inner-price.font-w-bold.font-s-18.collor-change 15 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16 Расходники – 5%
                .invest-section__block-4-inner-price.font-w-bold.font-s-18 92 500 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16.collor-change Налог УСН – 6%
                .invest-section__block-4-inner-price.font-w-bold.font-s-18.collor-change 69 000 ₽
              .invest-section__block-4-bottom
                .font-w-semi-bold.font-s-22 Общий итог:
                .font-w-semi-bold.font-s-32 1 021 000 ₽

        .swiper-invest.invest-section__block-mobile
          .invest-section__cards.swiper-wrapper
            .invest-section__block-1.swiper-slide
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Стартовые инвестиции:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 от 550 000 ₽
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Паушальный взнос:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 350 000 ₽ – 590 000 ₽ 
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Аренда:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 15 000 ₽
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Маркетинг:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 40 000 ₽
              .invest-section__block-1-inner
                .invest-section__block-1-inner-desc.font-w-regular.font-s-20 Роялти:
                .invest-section__block-1-inner-price.font-w-bold.font-s-24 15 000 ₽
              .invest-section__block-2
                .invest-section__block-2-inner
                  .invest-section__block-2-inner-text
                    .font-w-bold.font-s-50 3 месяца
                    .font-w-regular.font-s-20 срок окупаемости
                  img.invest-section__block-2-img(src="images/invest-section-img1.svg" loading="lazy" width="84" height="84" alt="icon")
                .invest-section__block-2-inner
                  .invest-section__block-2-inner-text
                    .font-w-bold.font-s-50 1 075 000 ₽
                    .font-w-regular.font-s-20 средний оборот в месяц
                  img.invest-section__block-2-img(src="images/invest-section-img2.svg" loading="lazy" width="84" height="84" alt="icon")
            .invest-section__block-3.swiper-slide
              .invest-section__block-3-wrapper
                .font-w-bold.font-s-32 Расчёт прибыли
                .invest-section__block-3-sub-title.font-w-semi-bold.font-s-22 Выручка:
                .invest-section__block-3-inner
                  .invest-section__block-3-inner-text.font-w-regular.font-s-16 Уборка для физических лиц 
                  .invest-section__block-3-inner-desc.font-w-bold.font-s-18 в среднем 110 заказов в месяц
                .invest-section__block-3-inner
                  .invest-section__block-3-inner-text.font-w-regular.font-s-16.collor-change Средний чек
                  .invest-section__block-3-inner-desc.font-w-bold.font-s-18.collor-change 10 000 ₽
                .invest-section__block-3-inner
                  .invest-section__block-3-inner-text.font-w-regular.font-s-16 Итого
                  .invest-section__block-3-inner-desc.font-w-bold.font-s-18 1 100 000 ₽
                .invest-section__block-3-bottom
                  .font-w-semi-bold.font-s-22 Общий итог:
                  .font-w-semi-bold.font-s-32 1 850 000 ₽
              .invest-section__block-3-footer
                .invest-section__block-3-footer-left
                  .font-w-semi-bold.font-s-22 Чистая прибыль <br> в месяц:
                .invest-section__block-3-footer-right
                  .font-w-regular.font-s-32 1 850 000 ₽ – 1 021 000 ₽
                  .font-w-bold.font-s-50 = 829 000 ₽
            .invest-section__block-4.swiper-slide
              .invest-section__block-4-title.font-w-bold.font-s-32 Расходы:
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16 Аренда
                .invest-section__block-4-inner-price.font-w-bold.font-s-18 20 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16.collor-change ФОТ менеджера 10%
                .invest-section__block-4-inner-price.font-w-bold.font-s-18.collor-change 185 500 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16 ФОТ клинеров для физлиц
                .invest-section__block-4-inner-price.font-w-bold.font-s-18 6 * 40 000 = 240 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16.collor-change ФОТ клинеров для юрлиц
                .invest-section__block-4-inner-price.font-w-bold.font-s-18.collor-change 10 * 30 000 = 300 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16 Маркетинг
                .invest-section__block-4-inner-price.font-w-bold.font-s-18 100 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16.collor-change Роялти
                .invest-section__block-4-inner-price.font-w-bold.font-s-18.collor-change 15 000 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16 Расходники – 5%
                .invest-section__block-4-inner-price.font-w-bold.font-s-18 92 500 ₽
              .invest-section__block-4-inner
                .invest-section__block-4-inner-desc.font-w-regular.font-s-16.collor-change Налог УСН – 6%
                .invest-section__block-4-inner-price.font-w-bold.font-s-18.collor-change 69 000 ₽
              .invest-section__block-4-bottom
                .font-w-semi-bold.font-s-22 Общий итог:
                .font-w-semi-bold.font-s-32 1 021 000 ₽
          .invest-pagination.swiper-progress-invest
