section.presentation-section
  .wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-c-medium.font-s-64.text-up
        | Так будет выглядеть ваша 
        br.no-br
        | собственная студия открытая 
        br.no-br
        span.mark-yellow по франшизе «PROOBRAZ»
      .swiper-present
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="760" height="560" alt="image")
          .presentation-section__card.img-mobile.swiper-slide
            img.presentation-section__img.img-mobile(src="images/presentation-section-img2.jpg" loading="lazy" width="760" height="560" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="760" height="560" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img4.jpg" loading="lazy" width="760" height="560" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img5.jpg" loading="lazy" width="760" height="560" alt="image")
        .present-pagination.swiper-progress-present
      img.presentation-section__img-desktop(src="images/presentation-section-img2-desktop.jpg" loading="lazy" width="760" height="1160" alt="image")
