.start-section__header
section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-dgo-regular.font-s-34.text-up.text-center
        | Как будет проходить 
        br.no-br
        | открытие вашего центра
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.font-s-24.swiper-slide
            span.font-w-medium
              | Заключение 
              br
              | договора 
            br
            | франшизы
          .start-section__card.font-s-24.swiper-slide
            | Поиск 
            span.font-w-medium помещения
            br
            | и заключение 
            br
            span.font-w-medium договора аренды
          .start-section__card.font-s-24.swiper-slide
            | Согласование 
            br
            span.font-w-medium дизайн-проекта
          .start-section__card.font-s-24.swiper-slide
            | Ремонт и
            br
            | оформление
            br
            span.font-w-medium помещения
          .start-section__card.font-s-24.swiper-slide
            | Подбор 
            span.font-w-medium персонала
          .start-section__card.font-s-24.swiper-slide
            | Доставка и монтаж
            br
            | приобретенного 
            br
            span.font-w-medium оборудования,
            br
            | мебели
          .start-section__card.font-s-24.swiper-slide
            | Формирование 
            br
            | учебных 
            br
            span.font-w-medium материалов 
            | и 
            br
            span.font-w-medium пособий
          .start-section__card.font-s-24.swiper-slide
            | Проведение 
            br
            span.font-w-medium рекламных
            br
            | компаний
          .start-section__card.font-s-24.swiper-slide
            | Обучение
            br
            span.font-w-medium сотрудников
          .start-section__card.font-s-24.swiper-slide
            | Официальное 
            br
            span.font-w-medium открытие 
            | и 
            span.font-w-medium старт 
            br
            | работы
        .start-pagination.swiper-progress-start
      .start-section__bottom
        img.start-section__bottom-img(src="images/start-section-bottom-img.png" loading="lazy" width="955" height="1051" alt="image")
        .start-section__bottom-title.font-w-dgo-regular.font-s-23.text-up
          | Работаем строго по 
          span.mark-orange договору
          | , 
          br.no-br
          | в котором описаны наши обязанности 
          br.no-br
          | и все условия сотрудничества
        button.btn.start-item(data-remodal-target="modal-form-agreement") Скачать пример договора
