section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-bold.font-s-60.text-center
        | Поговорим подробнее о схеме 
        br
        | запуска клининговой компании 
        br
        span.color-pink по франшизе «КАМАЛА»
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide.item(style="grid-row: 1; grid-column: 1;").width-item
            .steps-section__card-num.font-w-bold.font-s-20.items-line 1 шаг
            .font-w-regular.font-s-16 Заключение договора
          .steps-section__card.swiper-slide.item(style="grid-row: 2; grid-column: 1;").width-item
            .steps-section__card-num.font-w-bold.font-s-20.items-line 2 шаг
            .font-w-regular.font-s-16 Поиск подходящего <br> помещения под склад
          .steps-section__card.swiper-slide.item(style="grid-row: 3; grid-column: 1;").width-item
            .steps-section__card-num.font-w-bold.font-s-20 3 шаг
            .font-w-regular.font-s-16 Заключение <br> договора аренды
          .steps-section__card.swiper-slide.item(style="grid-row: 1; grid-column: 2;").width-item
            .steps-section__card-num.font-w-bold.font-s-20.items-line 4 шаг
            .font-w-regular.font-s-16 Поиск персонала
          .steps-section__card.swiper-slide.item(style="grid-row: 2; grid-column: 2;").width-item
            .steps-section__card-num.font-w-bold.font-s-20.items-line 5 шаг
            .font-w-regular.font-s-16 Обучение франчайзи
          .steps-section__card.swiper-slide.item(style="grid-row: 3; grid-column: 2;").width-item
            .steps-section__card-num.font-w-bold.font-s-20 6 шаг
            .font-w-regular.font-s-16 Заказ, доставка и <br> монтаж оборудования <br> и мебели
          .steps-section__card.swiper-slide.item(style="grid-row: 1; grid-column: 3;")
            .steps-section__card-num.font-w-bold.font-s-20.items-line 7 шаг
            .font-w-regular.font-s-16 Формирование первичных <br> запасов товара и расходных <br> материалов
          .steps-section__card.swiper-slide.item(style="grid-row: 2; grid-column: 3;")
            .steps-section__card-num.font-w-bold.font-s-20.items-line 8 шаг
            .font-w-regular.font-s-16 Обучение персонала
          .steps-section__card.swiper-slide.item(style="grid-row: 3; grid-column: 3;")
            .steps-section__card-num.font-w-bold.font-s-20 9 шаг
            .font-w-regular.font-s-16 Официальное открытие <br> и старт работы
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        .steps-section__bottom-line
        .steps-section__bottom-title.font-w-semi-bold.font-s-34
          | Работаем строго 
          span.color-pink по договору,
        .steps-section__bottom-text.font-w-regular.font-s-24 в котором описаны наши обязанности <br> и все условия сотрудничества
        button.btn.steps-item(data-remodal-target="modal-form-agreement") Скачать пример договора
      img.steps-section__image(src="images/steps-section-image.png" loading="lazy" width="1165" height="798" alt="image")
