section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-bold.font-s-50.text-up
      |НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-w-regular.font-s-24
      |Мы свяжемся с Вами в ближайшее время
    a.btn(href="index.html") Вернуться на главную
