.presentation-section
  background-color #fff

  &__container
    position relative
    padding 20px 0 20px 0
    +above($breakpoints.sm)
      padding 40px 0 80px 0
    +above($breakpoints.md)
      padding 80px 0 100px 0
    +above($breakpoints.xxl)
      padding 100px 0 167px 0

  &__title
    text-align: center
    color: #1F1F1D
    padding-bottom 20px
    +above($breakpoints.sm)
      padding-bottom 40px
    +above($breakpoints.md)
      padding-bottom 60px
    +above($breakpoints.xxl)
      padding-bottom 79px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content space-between
      row-gap: 12px
      column-gap: 50px
      +above($breakpoints.md)
        row-gap: 15px
      +above($breakpoints.xxl)
        row-gap: 20px

  &__card
    width 280px !important
    +above($breakpoints.sm)
      width 235px !important
    +above($breakpoints.md)
      width 315px !important
    +above($breakpoints.xxl)
      width 380px !important

  &__img
    width 280px
    height: auto
    +above($breakpoints.sm)
      width 235px
    +above($breakpoints.md)
      width 315px
    +above($breakpoints.xxl)
      width 380px

  &__img-desktop
    display: none
    +above($breakpoints.sm)
      display: block
      position: absolute
      left: 50%
      transform: translateX(-50%)
      top: 183px
      width 235px
      height: auto
    +above($breakpoints.md)
      top: 338px
      width 315px
    +above($breakpoints.xxl)
      top: 413px
      width 380px

.img-mobile
  +above($breakpoints.sm)
    display: none